{% set posts = [
    {
        'id': '1',
        'title': 'Lorem ipsum',
        'preamble': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. sksksksallslslsksjsjsjsn ssskssls,msksowwoslsssss sswwwwwwwwwwwwwwwwwwjwjdn nsoswdsnafaljfknaljnjnpknknlk',
        'url':'/img/picture2.jpg',
        'date':'10-02-2020'
    },
	{
        'id': '2',
        'title': 'Test title',
        'preamble': 'Test 
		text 
		blalalalalalalalalalaa',
        'url':'/img/picture1.jpg',
        'date':'10-02-2020'
    }
] %}
{% include 'Common/View/header.twig' %}
{% block body %}
	<body class="top-wave">
	{% endblock %}
	<section class="container">
		<ul>
			{% for post in posts %}
				<li class="u-margin--medium clearfix">
					<a class="post-box__img" href="/blog/{{ post.id }}"><img src="{{post.url}}" alt="{{post.title}}"/></a>
					<div class="post-box__description">
						<a class="post-description__header clearfix" href="/blog/{{ post.id }}"><h2 class="post-description__title"> {{post.title}}</h2><span class="post-descritpion__date"> {{post.date}} </span></a>
						<p class="post-description__preamble module line-clamp"> {{post.preamble}} </p>
		 		    	<a class="read-more-button clearfix" href="/blog/{{ post.id }}"><span> Read more </span><img class="move-forward-icon" src="/img/icon-back.svg"/></a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</section>
	{% include 'Common/View/footer.twig' %}
</body>
